<!DOCTYPE html>
<html>
  <head>
    <title> < WhereEver > Tourism</title>
    <meta http-equiv="Content-Type"content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet" media="screen">
    <link href="{{STATIC_URL}}css/jumbotron-narrow.css" rel="stylesheet" media="screen">
    <link href="{{STATIC_URL}}css/datepicker.css" rel="stylesheet" media="screen">
  </head>
  <body>

  <div class="navbar">
    <a class="navbar-brand" href="#"> < WhereEver > Tourism</a>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'home' %}"> Home</a></li>
      
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'paris' %}"> Lugares <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li>  
            <a href="{% url 'paris' %}"> Paris </a>
          </li>  
        </ul> 
      </li>

      <li><a href="{% url 'cronograma' %}"> Cronograma</a></li>

      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'paris' %}"> Dicas <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li>  
            <a href="{% url 'dicas' %}"> Paris </a>
          </li>  
        </ul> 
      </li>
    </ul>

  </div>

<div>
    {% block container %}
    {% endblock %}
</div>

    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-datepicker.js"></script>

    <!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
    <script src="{{STATIC_URL}}js/respond.js"></script>
  </body>
</html>