{% extends 'base.html' %}

{% block container %}
<br>
<br>
<center><font size=3><p style="color: #CC0052"> Aqui você tem a opção de adicionar no cronograma o que você adicionou na lista </font></P></center>
<br>
 <div>
    <ul class="cronograma nav nav-tabs">
      <li><a href="{% url 'cronograma' %}"> Primeiros Passos </a></li>
      <li class="active"><a href="{% url 'cronograma_dias' %}"> Dias</a></li>
      <li><a href="{% url 'ver_cronograma' %}"> Ver cronograma</a></li>
    </ul>
  </div>

  <br>

<div class="btn-group-vertical">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Dias da viagem
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
      <li><a href="#">Primeiro dia</a></li>
      <li><a href="#">Segundo dia</a></li>
      <li><a href="#">Terceiro dia</a></li>
      <li><a href="#">Quarto dia</a></li>
    </ul>
  </div>
<table class="table table-condensed">
    <tr>
      <td>
        <b><h4>Horários</h4></b>
      </td>

      <td>
        <b><h4>Lugares</h4></b>
      </td>
      <td><b><h4></h4></b></td>
      <td><b><h4></h4></b></td>
      <td><b><h4></h4></b></td>
      <td><b><h4></h4></b></td>
      <td><b><h4></h4></b></td>
      <td><b><h4></h4></b></td>
      <td><b><h4></h4></b></td>
      <td><b><h4></h4></b></td>
      <td><b><h4></h4></b></td>
      <td><b><h4></h4></b></td>
    </tr>
    <tr>
      <td>
      <b><h4><input name="hora" type="time"/>
            <input name="hora" type="time"/></h4></b>
      </td>
    </tr>

{% endblock %}