<!DOCTYPE html>
<html>
  <head>
    <title><whatever> tourism</title>
    <meta http-equiv="Content-Type"content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>

      <a href="https://www.facebook.com/dialog/oauth?client_id=200112130164945&redirect_uri=http://localhost:8000/&scope=email,user_location">Entrar com Facebook</a>

    <div class="navbar">
      <a class="navbar-brand" href="{% url 'home' %}"> < WhereEver > Tourism</a>
    </div>
  </body>
</head>
