{% extends 'base.html' %}

{% block container %}

<ul class="pager pull-rigth">
  <li><a href="{% url 'adicionarRestaurante' %}"> Adicionar Restaurante </a></li>
</ul>

 <div>
    <ul class="paris nav nav-tabs">
      <li class="active" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'paris_restaurantes' %}"> Restaurantes <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'paris_restaurantes' %}">Todos</a></li>
          <li><a href="#">Contemporânea</a></li>
          <li><a href="#">Italiana</a></li>
          <li><a href="#">Japonesa</a></li>  
        </ul> 
      </li>

      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'paris_diversao' %}"> Diversão <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'paris_diversao' %}">Todos</a></li>
          <li><a href="#">Museus</a></li>
          <li><a href="#">+Conhecidos</a></li>
          <li><a href="#">Boates</a></li>
        </ul> 
      </li>

      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'paris_eventos' %}"> Eventos <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'paris_eventos' %}">Todos</a></li>
          <li><a href="#">Shows</a></li>
          <li><a href="#">Teatro</a></li>
        </ul> 
      </li>

      <li><a href="{% url 'dicas' %}"> Dicas </a></li>
    </ul>
 </div>

  <table class="table table-condensed">
    <tr>
    <td>
      <img src="{{STATIC_URL}}css/foto.jpg" class="img-rounded"><br><br>
      Restaurante 1 <br><br>
          Nota media:<br>
          Preco medio:<br>
          Site:
    </td>
    </tr>

    <tr>
       <td>
        <img src="{{STATIC_URL}}css/foto.jpg" class="img-rounded"><br><br>
          Restaurante 2 <br><br>
          Nota media:<br>
          Preco medio:<br>
          Site:
       </td>
    </tr>
  </table>

{% endblock %}