{% extends 'base.html' %}

{% block container %}
 <div>
    <ul class="cronograma nav nav-tabs">
      <li class="active"><a href="{% url 'primeirosPassos' %}"> Primeiros Passos </a></li>
      <li><a href="{% url 'cronograma_dias' %}"> Dias</a></li>
      <li><a href="{% url 'ver_cronograma' %}"> Ver cronograma</a></li>
    </ul>
 </div>

<br>
<form>
<fieldset>
<legend> Período da viagem </legend>
<ul>
<li>
<label for="nome">Ida:</label>
<input name="calendario" type="datetime"/>  
<label for="nome">Volta:</label>
<input name="calendario" type="datetime"/>
</li>
</form>


<br>

<form>
<fieldset>
<legend> Horário de chegada e partida </legend>
<ul>
<li>
<label for="nome">Ida:</label>
<input name="hora" type="time"/>  
<label for="nome">Volta:</label>
<input name="hora" type="time"/>
</li>
</form>

{% endblock %}